
/cache/cpe/official-cpe-dictionary_v2.3.xml
/cache/debian/*.xml
/cache/suse/*.xml

/database/mitigations.json
/database/mitigation/*.go
/database/mitigation/*.json

/database/aggrevations.json
/database/aggrevation/*.go
/database/aggrevation/*.pcap

